<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Nowe ogłoszenie</h3>
            </div>
            <div id="imgLoader" style="display: none; text-align: center">
                <img src="~/Images/ajax-loader.gif" />
            </div>
            <div class="modal-body">
                <form id="myForm">
                    Brand <select name="BrandId" id="ddlBrand"></select>
                    <br />
                    Model <select name="ModelId" id="ddlModel"></select>
                    <br />
                    Price <input type="number" name="Price" />
                    <br />
                    City <input type="text" name="City" />
                    <br />
                    ProductYear <input type="number" name="ProductYear" />
                    <br />
                    Distance <input type="number" name="Distance" />
                    <br />
                    Capacity <input type="number" name="Capacity" />
                    <br />
                    PetrolType <select name="PetrolTypeId" id="ddlPetrolType"></select>
                    <br />
                    TransmissionType <select name="TransmissionTypeId" id="ddlTransmissionType"></select>
                    <br />
                    BodyName <select name="BodyId" id="ddlBodyName"></select>
                    <br />
                    Condition <select name="ConditionId" id="ddlCondition"></select>
                    <br />
                    Description <textarea name="Description" rows="10"></textarea>
                    <br />
                    Email <input type="email" name="Email" />
                    <br />
                    Phone <input type="text" name="Phone" />
                    <br />
                    UserName <input type="text" name="UserName" />
                    <br />
                    <div class="col-md-4">
                        <div class="btn btn-primary">
                            <input type="file" id="imgBrowes" />
                        </div>
                        <hr />
                        <div id="imgPreview" class="thumbnail" style="display: none">
                            <img class="img-responsive" id="targetImg"/>
                            <div class="caption">
                                <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
                                <span id="descriptionImg"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnSubmit" class="btn btn-success">Submit</a>
                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/InsertNewCarScript.js"></script>