@model IEnumerable<DataAccess.CarHeaderVm>

@{
    ViewBag.Title = "Index";
}
<script src="~/scripts/jquery-3.2.1.min.js"></script>

<div>
    @Html.Partial("~/Views/PartialViews/CarListView.cshtml", Model)
</div>