@model IEnumerable<DataAccess.CarHeaderVm>

@{
    ViewBag.Title = "Index";
}
<script src="~/scripts/jquery-3.2.1.min.js"></script>
<div style="float: right">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btnModal">Add new Car</a>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Nowe ogłoszenie</h3>
            </div>
            <div class="modal-body">
                <form id="myForm">
                    Brand <select name="Brand" id="ddlBrand"></select>
                    <br />
                    Model <select name="Model" id="ddlModel"></select>
                    <br />
                    Price <input type="number" name="Price" />
                    <br />
                    City <input type="text" name="City" />
                    <br />
                    ProductYear <input type="number" name="ProductYear" />
                    <br />
                    Distance <input type="number" name="Distance" />
                    <br />
                    Capacity <input type="number" name="Capacity" />
                    <br />
                    PetrolType <select name="PetrolType" id="ddlPetrolType"></select>
                    <br />
                    TransmissionType <select name="TransmissionType" id="ddlTransmissionType"></select>
                    <br />
                    BodyName <select name="BodyName" id="ddlBodyName"></select>
                    <br />
                    Condition <select name="Condition" id="ddlCondition"></select>
                    <br />
                    Description <textarea name="Description" rows="10"></textarea>
                    <br />
                    Email <input type="email" name="Email" />
                    <br />
                    Phone <input type="text" name="Phone" />
                    <br />
                    UserName <input type="text" name="UserName" />
                    <br />

                </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnSubmit" class="btn btn-success">Submit</a>
                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
<div style="padding: 20px 0; width: 100%">
    <ul class="list-unstyled">
        @foreach (var item in Model)
        {
            <br />
            <li>
                <div class="row" style="border: 1px solid lightgrey; padding: 5px; border-radius: 6px">
                    <div class="col-sm-2">
                        <img src="~/Images/obraz.jpg" alt="Image here" style="height: 110px; width: auto; margin: -5px 0 -5px -20px; border-top-left-radius: 6px; border-bottom-left-radius: 6px">
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 style="margin-top: 11px">
                                    @Html.ActionLink($"{Html.DisplayFor(modelItem => item.Brand)} {Html.DisplayFor(modelItem => item.Model)}", "Details", new { id = item.Id })
                                </h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Cena: @Html.DisplayFor(modelItem => item.Price) zł </h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4 style="float: right"> <span class="glyphicon glyphicon-map-marker"></span> @Html.DisplayFor(modelItem => item.City)</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<script>
    $(document).ready(function () {
        $('#ddlBrand').change(function () {
            $('#ddlModel').empty();
            var brandId = $(this).val();
            console.log(brandId);
            if (brandId == -1) {
                $('#ddlModel').append("<option value='-1'>--------------</option>");
                $('#ddlModel').prop("disabled", true);
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/Home/GetMarks?id=' + brandId,
                    success: function (result) {
                        console.log(result);
                        $('#ddlModel').prop("disabled", false);
                        $('#ddlModel').append("<option value='-1'>--Select Model--</option>");
                        $.each(result, function (index, optiondata) {
                            $('#ddlModel').append("<option value='" + optiondata.Id + "'>" + optiondata.ModelName + "</option>");
                        });
                    }
                });
            }
        });

        $('#btnModal').click(function () {
            $('#ddlBrand').empty();
            $('#ddlModel').empty();
            $.ajax({
                type: 'GET',
                url: '/Home/GetBrands',
                success: function (result) {
                    console.log(result);
                    $('#ddlBrand').append("<option value='-1'>--Select Car--</option>");
                    $('#ddlModel').append("<option value='-1'>--------------</option>");
                    $('#ddlModel').prop("disabled", true);
                    $.each(result, function (index, optiondata) {
                        $('#ddlBrand').append("<option value='" + optiondata.Id + "'>" + optiondata.BrandName + "</option>");
                    });
                }
            });
        });


        $('#btnSubmit').click(function () {
            var myFormData = $('#myForm').serialize();
            $.ajax({
                type: 'POST',
                data: myFormData,
                url: '/Home/Insert',
                success: function (result) {
                    console.log(myFormData);
                    console.log(result);
                    if (result.Success === true) {
                        console.log("success true from json");
                        $('#myModal').modal('hide');
                        $('#myForm').trigger('reset');
                    }
                }
            });
        });
    });
</script>
