@model IEnumerable<DataAccess.CarHeaderVm>

@{
    ViewBag.Title = "Index";
}
<script src="~/scripts/jquery-3.2.1.min.js"></script>
<div style="float: right">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btnModal">Add new Car</a>
</div>
<div>
    @Html.Partial("~/Views/PartialViews/InsertNewCarView.cshtml")
</div>
<div>
    @Html.Partial("~/Views/PartialViews/CarListView.cshtml", Model)
</div>